## Deliverable 2. Create a Customer Travel Destinations Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [7]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\Stephen\OneDrive\Documents\DataViz\Projects\World_Weather_Analysis\Weather Database\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,atuona,-9.8000,-139.0333,78.64,75,76,15.55,broken clouds,PF,2021-12-11 04:47:46
1,1,bairiki,1.3292,172.9752,87.80,62,40,12.66,scattered clouds,KI,2021-12-11 04:47:46
2,2,kochi,9.9399,76.2602,84.18,56,5,3.02,clear sky,IN,2021-12-11 04:47:46
3,3,bagdarin,54.4333,113.6000,1.72,65,15,6.17,few clouds,RU,2021-12-11 04:47:47
4,4,roald,62.5833,6.1333,31.33,80,62,5.75,broken clouds,NO,2021-12-11 04:47:47

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 55
What is the maximum temperature you would like for your trip? 79

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,atuona,-9.8000,-139.0333,78.64,75,76,15.55,broken clouds,PF,2021-12-11 04:47:46
5,5,rikitea,-23.1203,-134.9692,76.06,69,77,17.07,broken clouds,PF,2021-12-11 04:47:47
6,6,cidreira,-30.1811,-50.2056,64.83,77,71,5.26,broken clouds,BR,2021-12-11 04:47:48
8,8,arraial do cabo,-22.9661,-42.0278,71.82,85,97,6.69,overcast clouds,BR,2021-12-11 04:47:49
9,9,lebu,-37.6167,-73.6500,55.38,91,92,4.07,overcast clouds,CL,2021-12-11 04:47:49
10,10,sambava,-14.2667,50.1667,76.53,73,100,7.14,overcast clouds,MG,2021-12-11 04:47:49
11,11,east london,-33.0153,27.9116,68.94,94,75,12.66,mist,ZA,2021-12-11 04:47:50
12,12,port elizabeth,-33.9180,25.5701,71.10,94,20,10.36,few clouds,ZA,2021-12-11 04:47:50
13,13,buchanan,5.8808,-10.0467,78.30,84,44,5.32,light rain,LR,2021-12-11 04:47:51
19,19,jizan,17.3333,42.6667,72.54,29,1,3.29,clear sky,SA,2021-12-11 04:47:53

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        269
City           269
Lat            269
Lng            269
Max Temp       269
Humidity       269
Cloudiness     269
Wind Speed     269
Description    269
Country        267
Date           269
dtype: int64

In [11]:
#checking again for null and blank values.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
Country        2
Date           0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_new_df = preferred_cities_df.dropna()
preferred_cities_new_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Country,Date
0,0,atuona,-9.8000,-139.0333,78.64,75,76,15.55,broken clouds,PF,2021-12-11 04:47:46
5,5,rikitea,-23.1203,-134.9692,76.06,69,77,17.07,broken clouds,PF,2021-12-11 04:47:47
6,6,cidreira,-30.1811,-50.2056,64.83,77,71,5.26,broken clouds,BR,2021-12-11 04:47:48
8,8,arraial do cabo,-22.9661,-42.0278,71.82,85,97,6.69,overcast clouds,BR,2021-12-11 04:47:49
9,9,lebu,-37.6167,-73.6500,55.38,91,92,4.07,overcast clouds,CL,2021-12-11 04:47:49
...,...,...,...,...,...,...,...,...,...,...,...
632,632,horta,38.5333,-28.6333,62.67,84,3,14.50,clear sky,PT,2021-12-11 05:04:36
636,636,aquidauana,-20.4711,-55.7872,74.50,53,51,1.83,broken clouds,BR,2021-12-11 05:04:37
639,639,viedma,-40.8135,-62.9967,68.05,76,2,13.85,clear sky,AR,2021-12-11 05:04:38
643,643,karoi,-16.8099,29.6925,73.18,41,3,10.83,clear sky,ZW,2021-12-11 05:05:40
645,645,goundam,16.4145,-3.6708,67.15,9,97,7.90,overcast clouds,ML,2021-12-11 05:05:41

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
#hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df = preferred_cities_new_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,atuona,PF,78.64,broken clouds,-9.8000,-139.0333,
5,rikitea,PF,76.06,broken clouds,-23.1203,-134.9692,
6,cidreira,BR,64.83,broken clouds,-30.1811,-50.2056,
8,arraial do cabo,BR,71.82,overcast clouds,-22.9661,-42.0278,
9,lebu,CL,55.38,overcast clouds,-37.6167,-73.6500,
10,sambava,MG,76.53,overcast clouds,-14.2667,50.1667,
11,east london,ZA,68.94,mist,-33.0153,27.9116,
12,port elizabeth,ZA,71.10,few clouds,-33.9180,25.5701,
13,buchanan,LR,78.30,light rain,5.8808,-10.0467,
19,jizan,SA,72.54,clear sky,17.3333,42.6667,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")  

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,atuona,PF,78.64,broken clouds,-9.8000,-139.0333,Villa Enata
5,rikitea,PF,76.06,broken clouds,-23.1203,-134.9692,People ThankYou
6,cidreira,BR,64.83,broken clouds,-30.1811,-50.2056,Hotel Castelo
8,arraial do cabo,BR,71.82,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
9,lebu,CL,55.38,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
10,sambava,MG,76.53,overcast clouds,-14.2667,50.1667,Melrose
11,east london,ZA,68.94,mist,-33.0153,27.9116,Tu Casa
12,port elizabeth,ZA,71.10,few clouds,-33.9180,25.5701,39 On Nile Guest House
13,buchanan,LR,78.30,light rain,5.8808,-10.0467,Kamaneahn Hotel Inc
19,jizan,SA,72.54,clear sky,17.3333,42.6667,شهدان. ابوالحجر

In [15]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)
#df.dropna(subset=['Tenant'], inplace=True)

hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,atuona,PF,78.64,broken clouds,-9.8000,-139.0333,Villa Enata
5,rikitea,PF,76.06,broken clouds,-23.1203,-134.9692,People ThankYou
6,cidreira,BR,64.83,broken clouds,-30.1811,-50.2056,Hotel Castelo
8,arraial do cabo,BR,71.82,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
9,lebu,CL,55.38,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
...,...,...,...,...,...,...,...
629,virginia beach,US,58.01,overcast clouds,36.8529,-75.9780,Hilton Virginia Beach Oceanfront
632,horta,PT,62.67,clear sky,38.5333,-28.6333,Hotel do Canal | Horta - Faial
636,aquidauana,BR,74.50,broken clouds,-20.4711,-55.7872,HOTEL ARARAS
639,viedma,AR,68.05,clear sky,-40.8135,-62.9967,Hotel Cristal
643,karoi,ZW,73.18,clear sky,-16.8099,29.6925,Chikangwe Guest houses

In [17]:
# 8a. Create the output File (CSV)
#Create the output file (CSV).
output_data_file = "WeatherPy_vaction.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 

max_temp_1 = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)


marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))